<%= form_with model: @post, url: posts_path do |form| %>
  <p>
    <b>Post</b><br>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <%= form.label :text %>
    <%= form.text_field :text %>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
